<form action="/tasks/add" method="POST">
  <div>
    <label for="title">Title:</label>
    <input type="title" placeholder="Title" name="title" id="title" />
  </div>

  <div>
    <label for="description">Description</label>
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="10"
      placeholder="Description"
    ></textarea>
  </div>

  <button>add</button>
</form>
