<form action="/edit/{{task._id}}/task?_method=PUT" method="POST">

  <input type="title" name="title" placeholder="Title" value="{{task.title}}" />

  <textarea name="description" rows="5">{{task.description}}</textarea>

  <button>Update</button>
</form>